<div class="card actions-possibles">
    <div class="row px-3 py-2"> 
        <div class="col-12">
            Actions possibles
        </div>
    </div>
    <hr class="m-0"/>
    <div class="row p-3">
        <div class="col-12">
            <a href="#" class="btn btn-outline-primary me-2">Modifier la demande</a>
            <a href="#" class="btn btn-outline-primary me-2">Dupliquer la demande</a>
            <a href="#" class="btn btn-primary me-2">Soumettre la demande</a>
            <a href="#" class="btn btn-danger">Abandonner la demande</a>
        </div>
    </div>
</div>