<!DOCTYPE html>
<head lang="fr" xmlns:th="http://www.thymeleaf.org/">

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom CSS -->

    <link rel="stylesheet" href="menu.css"/>
    <link rel="stylesheet" href="footer.css"/>

    <link rel="stylesheet" th:href="@{css/demande_convention_recherche.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-slider/css/bootstrap-slider.css}"/>
    <title>Lab&Co</title>
</head>
<body>
    <div class="container-fluid">

    <div th:replace="fragment/menu :: navbar">

    </div>
        <div class="row">
            <div class="col-12 px-1">
                <div class="card convention-recherche">
                    <div class="row px-3 py-2"> 
                        <div class="col-12">
                            Nouvelle demande de type: Convention de recherche
                        </div>
                    </div>
                    <hr class="m-0"/>
                    <div class="row justify-content-center p-4">
                        <p>NB: Les champs suivis d'un astérisque (*) sont obligatoires. Vous pourrez néanmoins sauvegarder</p>
                        <p>Vous pouvez (et, probablement, devez) joindre à ce formulaire des documences complémentaires.</p>
                        <p><strong>Pour un avenant à un contrat en cours, choisissez le formulaire "Avenant"</strong></p>
                        
                        <fieldset class="row radio-fieldset border px-1 py-2">
                            <legend class="col-4 m-0">Votre demande est-elle en lien avec un contrat ? (*)</legend>
                            <div class="col-1 form-check ps-5">
                                <input class="form-check-input" type="radio" name="contrat" id="contrat-oui">
                                <label class="form-check-label" for="oui">Oui</label>
                            </div>
                            <div class="col-7 form-check">
                                <input class="form-check-input" type="radio" name="contrat" id="contrat-non">
                                <label class="form-check-label" for="non">Non</label>
                            </div>
                        </fieldset>


                        <fieldset class="row border p-2">
                            <legend class="w-auto">Structure demandeuse</legend>  

                            <label for="nom-structure" class="col-4 col-form-label">Nom de la structure demandeuse (*)</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="nom-structure">
                            </div>
                        </fieldset>

                        <fieldset class="row border p-2">
                            <legend class="w-auto">Porteur de projet</legend>                          
                            
                            <label for="porteur-projet" class="col-4 col-form-label">Porteur du projet (*)</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="porteur-projet">
                            </div>
                        </fieldset>

                        <fieldset class="row border p-2">
                            <legend class="w-auto">Structures concernées</legend>                          
                            
                            <label for="structure" class="col-4 col-form-label">Structures concernées</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="structure">
                            </div>
                        </fieldset>

                        <fieldset class="row border p-2">
                            <legend class="w-auto">Contributeurs autorisés à prendre la main sur la demande</legend>                          
                            
                            <label for="contributeur" class="col-4 col-form-label">Contributeurs</label>
                            <div class="col-8">
                                <input type="text" class="form-control" id="contributeur">
                            </div>
                        </fieldset>

                        <fieldset class="border p-2">
                            <legend class="w-auto">Informations sur le contrat et son financement</legend>                          
                            
                            <div class="row p-2">
                                <label for="role-su" class="col-4 col-form-label">Rôle de Sorbonne Université (*)</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="role-su">
                                </div>
                            </div>

                            <div class="row p-2">
                                <label for="nom-projet" class="col-4 col-form-label">Nom ou acronyme du projet (*)</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="nom-projet">
                                </div>
                            </div>

                            <div class="row p-2">
                                <label for="description" class="col-4 col-form-label">Description courte (*)</label>
                                <div class="col-8">
                                    <textarea class="form-control" id="description" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="row p-2">
                                <label for="financeur" class="col-4 col-form-label">Type de financeur (*)</label>
                                <div class="col-8">
                                    <select class="form-select" id="financeur">
                                        <option value="1">ANR</option>
                                        <option value="2">Commission Européenne</option>
                                        <option value="3">Financement public national</option>
                                        <option value="4">FUI</option>
                                        <option value="5">Institution européenne ou internationale</option>
                                        <option value="6">Autre</option>
                                    </select>
                                </div>
                            </div>
                            

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Le projet intègre-t-il une entreprise ? (*)</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="entreprise" id="entreprise-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-7 form-check">
                                    <input class="form-check-input" type="radio" name="entreprise" id="entreprise-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>


                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Appel à projets ? (*)</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="appel-projet" id="appel-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-7 form-check">
                                    <input class="form-check-input" type="radio" name="appel-projet" id="appel-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <div class="row p-2">
                                <label for="date-debut" class="col-4 col-form-label">Date limite de dépôt ou date de début souhaité du projet (*)</label>
                                <div class="col-8">
                                    <input type="date" class="form-control" id="date-debut">
                                </div>
                            </div>

                            <div class="row p-2">
                                <label for="duree-prevu" class="col-4 col-form-label">Durée prévisionnelle (en mois) (*)</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="duree-prevu">
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="border p-2">
                            <legend class="w-auto">Projet scientifique et contributions de la structure</legend>                          
                            
                            <p class="px-2">Les documents complémentaires (canevas d'appel à projets, annexe scientifique, annexe financière...) sont à déposer dans l'onglet "pièces à joindre"<./p>
                            <p class="px-2">Utilisez l'onglet "feuille de coût" pour effectuer le calcul du coût de votre projet.</p>
    
                            <div class="row p-2">
                                <label for="description-role" class="col-4 col-form-label">Description du rôle de la structure et du résultat attendu</label>
                                <div class="col-8">
                                    <textarea class="form-control" id="description-role" rows="3"></textarea>
                                </div>
                            </div>

                            <p class="p-2">Informations complémentaires</p>
                            <div class="row p-2">
                                <label for="infos-complemantaires" class="col-4 col-form-label">Montant du financement envisagé (en Euros)</label>
                                <div class="col-8">
                                    <input type="number" class="form-control" id="infos-complemantaires">
                                </div>
                            </div>

                            <div class="row p-2">
                                <label for="nb-recrutement" class="col-4 col-form-label">nombre de recrutements prévisionnels</label>
                                <div class="col-8">
                                    <input type="number" class="form-control" id="nb-recrutement">
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="border p-2">
                            <legend class="w-auto">Apports scientifique Sorbonne Université dans le projet - Résultats</legend>                          
                            
                            <p class="px-2">Quelles sont les résultats antérieurs mis en oeuvre dans le projet par votre équipe Sorbonne Université ?</p>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Matériel / données (*)</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="materiel" id="materiel-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="materiel" id="materiel-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                                <div class="col-6 form-check">
                                    <input class="form-check-input" type="radio" name="materiel" id="materiel-nps">
                                    <label class="form-check-label" for="non">Ne sait pas</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Propre à Sorbonne Université</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="propre1" id="propre1-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="propre1" id="propre1-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Obtenu lors de précédents contrats</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="prec-contrat1" id="prec-contrat1-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="prec-contrat1" id="prec-contrat1-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Humains</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="humains" id="humains-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="humains" id="humains-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Infectueux</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="infectueux" id="infectueux-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="infectueux" id="infectueux-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <div class="row p-2">
                                <label for="description1" class="col-4 col-form-label">Description</label>
                                <div class="col-8">
                                    <textarea class="form-control" id="description1" rows="3"></textarea>
                                </div>
                            </div>

                            <hr />

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Savoir-faire / expertise (*)</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="expertise" id="expertise-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="expertise" id="expertise-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                                <div class="col-6 form-check">
                                    <input class="form-check-input" type="radio" name="expertise" id="expertise-nps">
                                    <label class="form-check-label" for="non">Ne sait pas</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Propre à Sorbonne Université</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="propre2" id="propre2-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="propre2" id="propre2-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Obtenu lors de précédents contrats</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="prec-contrat2" id="prec-contrat2-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="prec-contrat2" id="prec-contrat2-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <div class="row p-2">
                                <label for="description2" class="col-4 col-form-label">Description</label>
                                <div class="col-8">
                                    <textarea class="form-control" id="description2" rows="3"></textarea>
                                </div>
                            </div>

                            <hr />

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Logiciel (*)</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="logiciel" id="logiciel-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="logiciel" id="logiciel-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                                <div class="col-6 form-check">
                                    <input class="form-check-input" type="radio" name="logiciel" id="logiciel-nps">
                                    <label class="form-check-label" for="non">Ne sait pas</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Propre à Sorbonne Université</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="propre3" id="propre3-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="propre3" id="propre3-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Obtenu lors de précédents contrats</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="prec-contrat3" id="prec-contrat3-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="prec-contrat3" id="prec-contrat3-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <div class="row p-2">
                                <label for="description3" class="col-4 col-form-label">Description</label>
                                <div class="col-8">
                                    <textarea class="form-control" id="description3" rows="3"></textarea>
                                </div>
                            </div>

                            <hr />

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Brevet (*)</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="brevet" id="brevet-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="brevet" id="brevet-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                                <div class="col-6 form-check">
                                    <input class="form-check-input" type="radio" name="brevet" id="brevet-nps">
                                    <label class="form-check-label" for="non">Ne sait pas</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Propre à Sorbonne Université</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="propre4" id="propre4-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="propre4" id="propre4-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Obtenu lors de précédents contrats</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="prec-contrat4" id="prec-contrat4-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-1 form-check">
                                    <input class="form-check-input" type="radio" name="prec-contrat4" id="prec-contrat4-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <div class="row p-2">
                                <label for="description4" class="col-4 col-form-label">Description</label>
                                <div class="col-8">
                                    <textarea class="form-control" id="description4" rows="3"></textarea>
                                </div>
                            </div>

                            <hr />

                            <p class="px-2">Types de résultats attendus</p>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Publication</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="publication" id="publication-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-7 form-check">
                                    <input class="form-check-input" type="radio" name="publication" id="publication-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Brevet</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="brevet2" id="brevet2-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-7 form-check">
                                    <input class="form-check-input" type="radio" name="brevet2" id="brevet2-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Logiciel</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="logiciel2" id="logiciel2-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-7 form-check">
                                    <input class="form-check-input" type="radio" name="logiciel2" id="logiciel2-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Autre</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="autre" id="autre-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-7 form-check">
                                    <input class="form-check-input" type="radio" name="autre" id="autre-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <div class="row p-2">
                                <label for="preciser" class="col-4 col-form-label">Préciser</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" id="preciser">
                                </div>
                            </div>

                            <hr />

                            <p class="px-2">A qui vont appartenir les résultats ?</p>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Aux tutelles des structures</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="tutelles" id="tutelles-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-7 form-check">
                                    <input class="form-check-input" type="radio" name="tutelles" id="tutelles-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Aux autres partenaires</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="partenaires" id="partenaires-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-7 form-check">
                                    <input class="form-check-input" type="radio" name="partenaires" id="partenaires-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                            <fieldset class="row radio-fieldset p-2">
                                <legend class="col-4 m-0">Aux tutelles et aux partenaires</legend>
                                <div class="col-1 form-check ps-5">
                                    <input class="form-check-input" type="radio" name="tutelles-partanaires" id="tutelles-partanaires-oui">
                                    <label class="form-check-label" for="oui">Oui</label>
                                </div>
                                <div class="col-7 form-check">
                                    <input class="form-check-input" type="radio" name="tutelles-partanaires" id="tutelles-partanaires-non">
                                    <label class="form-check-label" for="non">Non</label>
                                </div>
                            </fieldset>

                        </fieldset>

                        <fieldset class="border p-2">
                            <legend class="w-auto">Commentaires</legend>                          
                            
                            <p class="px-2">Vous pouvez indiquer dans ce champs des éléments complémentaires nécessaires à l'instruction de votre demande.</p>
                            <p class="px-2">Par exemple: besoin de recruter dès le démarrage du projet ; ce nouveau contrat s'inscrit-il dans un MTA et NDA existant, etc.</p>
                        
                            <div class="row p-2">
                                <label for="commentaires" class="col-4 col-form-label">Commentaires</label>
                                <div class="col-8">
                                    <textarea class="form-control" id="commentaires" rows="3"></textarea>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-center">
                                <a href="#" class="btn btn-primary mt-3">Créer la demande</a>
                                <a href="#" class="btn btn-outline-danger mt-3">Annuler</a>
                            </div>
                            
                        </div>
                        
                                         
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col px-1">
                <!--FOOTER-->                
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>