<div class="card infos-clef">
    <div class="row px-3 py-2"> 
        <div class="col-12">
            Informations-clefs
        </div>
    </div>
    <hr class="m-0"/>
    <div class="row p-3">
        <div class="col-6">
            Type de demande: <strong>Convention de recherche</strong>
        </div>
        <div class="col-6">
            Etat de la demande: <strong>En édition</strong> (Active)
        </div>
    </div>
    <div class="row px-3 pb-3">
        <div class="col-6">
            Intitulé: <strong>MEDUSOR</strong>
        </div>
        <div class="col-6">
            Prochaine action à réaliser: <strong>Edition à finaliser et à soumettre</strong>, par:  <a href="#" >Fabien Lombard</a>
        </div>
    </div>
    <div class="row px-3 pb-3">
        <div class="col-6">
            Type de financeur: <strong>ANR</strong>
        </div>
        <div class="col-6">
            Porteur: <a href="#" >Fabien Lombard</a>
        </div>
    </div>
    <div class="row px-3 pb-3">
        <div class="col-6">
            Appel à projet: <strong>oui</strong>
        </div>
        <div class="col-6">
            Contributeurs: aucun
        </div>
    </div>
    <div class="row px-3 pb-3">
        <div class="col-12">
            Type de contrat:
        </div>
    </div>
    <div class="row px-3 pb-4">
        <div class="col-12">
            Montant du financement envisagé: <strong>100 000 euros</strong>
        </div>
    </div>
</div>